<p><%= @user %>,</p>

<p>If you have forgotten your password for <%= @app_name %>, you can choose
a new one by clicking on this link:</p>

<p><% @url = reset_password_from_email_url :id => @user, :key => @key, :protocol => @protocol %>
<a href="<%= @url -%>"><%= @url %></a></p>

<p>Thank you,<br/><br/>

The <%= @app_name %> team.</p>
