<p><%= @user %>,</p>
<p>
You have been invited to join <%= @app_name %>. If you wish to accept, please click on the following link</p>

<p><% @url = accept_invitation_from_email_url :id => @user, :key => @key, :protocol => @protocol %>
<a href="<%= @url -%>"><%= @url %></a><br/><br/></p>

<p>Thank you,<br/><br/>

The <%= @app_name %> team.
</p>
